@page
@model TheGreenBowl.Pages.Admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <a asp-page="/Menu/AdminIndex" class="btn btn-primary">Go to Menu AdminIndex</a>
</div>
</body>
</html>